<!-- banner -->
<% render "shared/banner" %>

<h1>List of all cocktails</h1>
<% @cocktails.each do |c| %>
<div class="col-md-3 col-xs-12">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.mrbeer.com/media/catalog/product/Beer-Amber-MugLOW.jpg');">
    <div class="card-description">
      <ul>
        <%= link_to c.name, cocktail_path(c) %>
      </ul>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
</div>
<% end %>
</div

