<div class="col-xs-8 col-xs-offset-2">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
    <%#= link_to 'Add Dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
</div>
