<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Links -->
    <%= link_to "Cocktails", "/", class: "navbar-wagon-item navbar-wagon-link btn btn-primary" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
    </div>
  </div>

</div>
